#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos {
        compatible = "zmk,combos";

        lgui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <13 14>;
        };

        rgui {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <15 16>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <20 21>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <5 6>;
        };

        mu1 {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <17 18>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <7 17>;
        };

        up {
            bindings = <&kp UP_ARROW>;
            key-positions = <6 8>;
        };

        dn {
            bindings = <&kp DOWN>;
            key-positions = <16 18>;
        };

        le {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <6 7>;
        };

        ri {
            bindings = <&kp RIGHT>;
            key-positions = <7 8>;
        };

        zero {
            bindings = <&kp KP_NUMBER_0>;
            key-positions = <26 27>;
        };

        ht {
            bindings = <&kp HASH>;
            key-positions = <15 4>;
        };

        dr {
            bindings = <&kp DOLLAR>;
            key-positions = <12 3>;
        };

        ye {
            bindings = <&kp INTERNATIONAL_3>;
            key-positions = <2 5>;
        };

        pt {
            bindings = <&kp PERCENT>;
            key-positions = <9 4>;
        };

        ad {
            bindings = <&kp LS(N6)>;
            key-positions = <10 12>;
        };

        at {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <10 4>;
        };

        lbrc {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <2 4>;
        };

        rbrc {
            bindings = <&kp BACKSLASH>;
            key-positions = <5 7>;
        };

        lkako {
            bindings = <&kp LS(NUMBER_8)>;
            key-positions = <12 14>;
        };

        rkako {
            bindings = <&kp LS(NUMBER_9)>;
            key-positions = <15 17>;
        };

        lsbr {
            bindings = <&kp LS(RIGHT_BRACKET)>;
            key-positions = <22 24>;
        };

        rsbr {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <25 27>;
        };

        one {
            bindings = <&kp KP_N1>;
            key-positions = <26 37>;
        };

        two {
            bindings = <&kp KP_N2>;
            key-positions = <27 37>;
        };

        three {
            bindings = <&kp KP_N3>;
            key-positions = <28 37>;
        };

        four {
            bindings = <&kp KP_N4>;
            key-positions = <16 37>;
        };

        five {
            bindings = <&kp KP_NUMBER_5>;
            key-positions = <17 37>;
        };

        six {
            bindings = <&kp KP_NUMBER_6>;
            key-positions = <18 37>;
        };

        seven {
            bindings = <&kp KP_NUMBER_7>;
            key-positions = <6 37>;
        };

        eight {
            bindings = <&kp KP_NUMBER_8>;
            key-positions = <7 37>;
        };

        nine {
            bindings = <&kp KP_NUMBER_9>;
            key-positions = <8 37>;
        };

        c_zero {
            bindings = <&kp KP_N0>;
            key-positions = <27 26 37>;
        };

        kp_ap {
            bindings = <&kp KP_ASTERISK>;
            key-positions = <15 37>;
        };

        kp_sl {
            bindings = <&kp KP_SLASH>;
            key-positions = <5 37>;
        };

        kp_pl {
            bindings = <&kp KP_PLUS>;
            key-positions = <9 37>;
        };

        kp_mi {
            bindings = <&kp KP_MINUS>;
            key-positions = <19 37>;
        };

        kp_dt {
            bindings = <&kp KP_DOT>;
            key-positions = <29 37>;
        };

        kp_eq {
            bindings = <&kp LS(MINUS)>;
            key-positions = <25 37>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <1 34>;
        };

        f3 {
            bindings = <&kp F3>;
            key-positions = <34 2>;
        };

        f4 {
            bindings = <&kp F4>;
            key-positions = <34 3>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <4 34>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <10 34>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <34 11>;
        };

        f8 {
            bindings = <&kp F8>;
            key-positions = <34 12>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <34 13>;
        };

        f10 {
            bindings = <&kt F10>;
            key-positions = <34 14>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <23 34>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <34 24>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        m_bracket: m_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp RIGHT_BRACKET>,
                <&macro_release>,
                <&macro_tap>,
                <&kp BACKSLASH>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_BRACKET";
        };

        m_kako: m_kako {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LS(N8)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(N9)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_KAKO";
        };

        m_sbracket: m_sbracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LS(RIGHT_BRACKET)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(BACKSLASH)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_SBRACKET";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        td_l5_qt: td_l5_qt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L5_QT";
            #binding-cells = <0>;
            bindings = <&lt 5 LS(NUMBER_2)>, <&kp RS(LEFT_BRACKET)>;

            tapping-term-ms = <200>;
        };

        td_at_co: td_at_co {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_AT_CO";
            #binding-cells = <0>;
            bindings = <&mt LEFT_ALT SINGLE_QUOTE>, <&kp LS(INTERNATIONAL_3)>;

            tapping-term-ms = <200>;
        };

        td_ct_nm: td_ct_nm {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CT_NM";
            #binding-cells = <0>;
            bindings = <&mt LCTRL LS(EQUAL)>, <&kp EQUAL>;

            tapping-term-ms = <190>;
        };

        td_sh_ej: td_sh_ej {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SH_EJ";
            #binding-cells = <0>;
            bindings = <&mt LSHFT LANGUAGE_2>, <&kp LANGUAGE_1>;

            tapping-term-ms = <190>;
        };

        td_pi_co: td_pi_co {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PI_CO";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT>, <&kp COMMA>;

            tapping-term-ms = <180>;
        };

        td_mo_in: td_mo_in {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MO_IN";
            #binding-cells = <0>;
            bindings = <&lt 1 INT_HENKAN>, <&lt 2 INT_HENKAN>;

            tapping-term-ms = <180>;
        };

        kp_lt_tr190: kp_lt_tr190 {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_LT_TR190";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            flavor = "tap-preferred";
        };

        kp_mt_tr190: kp_mt_tr190 {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_MT_TR190";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            flavor = "tap-preferred";
        };

        mm_mi_ub: mm_mi_ub {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_MI_UB";
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        mm_qu_sl: mm_qu_sl {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_QU_SL";
            bindings = <&kp LS(SLASH)>, <&kp SLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_en_bi: mm_en_bi {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_EN_BI";
            bindings = <&kp_mt_tr190 RCTRL ENTER>, <&kp LS(N1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_L5_qt: mm_L5_qt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_L5_QT";
            bindings = <&td_l5_qt>, <&kp LS(NUMBER_7)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_at_co: mm_at_co {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_AT_CO";
            bindings = <&td_at_co>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_ct_nm: mm_ct_nm {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_CT_NM";
            bindings = <&mt LCTRL LS(EQUAL)>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_la_ri: mm_la_ri {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_LA_RI";
            bindings = <&td_sh_ej>, <&kp RIGHT_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_in_le: mm_in_le {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_IN_LE";
            bindings = <&kp_lt_tr190 2 INT_MUHENKAN>, <&kp LEFT_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_bs_up: mm_bs_up {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BS_UP";
            bindings = <&mt RIGHT_SHIFT BACKSPACE>, <&kp UP_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_in_dn: mm_in_dn {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_IN_DN";
            bindings = <&kp_lt_tr190 1 INT_HENKAN>, <&kp DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W      &kp E      &kp R      &kp T                                &kp Y      &kp U             &kp I                         &kp O       &kp P
&kp A      &kp S      &kp D      &kp F      &kp G                                &kp H      &kp J             &kp K                         &kp L       &mm_mi_ub
&kp X      &kp Z      &kp C      &kp V      &kp B                                &kp N      &kp_lt_tr190 5 M  &kp_mt_tr190 RIGHT_ALT COMMA  &kp PERIOD  &mm_qu_sl
&mm_ct_nm  &mm_at_co  &mm_L5_qt  &mm_in_le  &kp SPACE  &mm_la_ri      &mm_bs_up  &mm_in_dn                                                              &mm_en_bi
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        SYMBOL {
            bindings = <
&none   &kp LS(EQUAL)  &kp SEMI                 &kp LS(N7)            &m_bracket                           &kp RA(RIGHT)       &msc MOVE_Y(10)   &kp UP_ARROW    &kp HOME         &none
&none   &kp SLASH      &kp SINGLE_QUOTE         &kp LS(NUMBER_2)      &m_kako                              &kp RA(LEFT_ARROW)  &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RS(RC(T))
&none   &kp LS(EQUAL)  &kp LS(INTERNATIONAL_3)  &kp LS(LEFT_BRACKET)  &m_sbracket                          &kp RC(F4)          &msc MOVE_Y(-10)  &none           &kp END          &none
&trans  &trans         &trans                   &trans                &trans       &trans      &kp DELETE  &kp INT_MUHENKAN                                                       &trans
            >;
        };

        NUM {
            bindings = <
&none   &kp F2  &kp F3  &kp F4   &kp F5                              &kp KP_SLASH     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS
&kp F6  &kp F7  &kp F8  &kp F9   &kp F10                             &kp KP_ASTERISK  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS
&none   &none   &none   &kp F11  &kp F12                             &kp LS(MINUS)    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &td_pi_co
&trans  &trans  &trans  &trans   &trans   &trans      &kp BACKSPACE  &kp KP_NUMBER_0                                                     &trans
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &mkp MB4                &kp UP_ARROW    &mkp MB5                 &trans                       &kp LG(LEFT_ARROW)          &kp LA(LEFT_ARROW)      &kp UP_ARROW    &kp RA(RIGHT_ARROW)      &kp RG(RIGHT_ARROW)
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END                      &kp LC(LS(TAB))             &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp RC(TAB)
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans                       &kp LA(LG(LC(LEFT_ARROW)))  &kp LA(LG(LEFT_ARROW))  &kp LA(LG(F))   &kp RG(RA(RIGHT_ARROW))  &kp RA(RC(RG(RIGHT_ARROW)))
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &kp BACKSPACE                                                                                &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans                &trans  &trans  &trans             &mo 6                                    &mo 6   &trans  &trans  &trans  &trans
&trans                &trans  &trans  &trans             &trans                                   &trans  &trans  &trans  &trans  &trans
&trans                &trans  &trans  &trans             &trans                                   &trans  &trans  &trans  &trans  &trans
&kp LA(SINGLE_QUOTE)  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP      &trans  &trans                          &trans
            >;
        };

        CONFIG {
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR    &trans        &trans        &trans                            &trans  &trans  &bootloader  &trans  &trans
&trans          &trans        &trans        &trans        &trans                            &trans  &trans  &trans       &trans  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans       &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans      &trans  &trans                               &trans
            >;
        };
    };
};
