#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <300>;
};

/ {
    combos {
        compatible = "zmk,combos";

        lgui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <13 14>;
            layers = <0>;
        };

        rgui {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <15 16>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <20 21>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <5 6>;
        };

        mu1 {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <17 18>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <7 17>;
        };

        lbrc {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <2 4>;
        };

        rbrc {
            bindings = <&kp BACKSLASH>;
            key-positions = <5 7>;
        };

        lkako {
            bindings = <&kp LS(NUMBER_8)>;
            key-positions = <12 14>;
        };

        rkako {
            bindings = <&kp LS(NUMBER_9)>;
            key-positions = <15 17>;
        };

        lsbr {
            bindings = <&kp LS(RIGHT_BRACKET)>;
            key-positions = <22 24>;
        };

        rsbr {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <25 27>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <1 34>;
        };

        f3 {
            bindings = <&kp F3>;
            key-positions = <34 2>;
        };

        f4 {
            bindings = <&kp F4>;
            key-positions = <34 3>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <4 34>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <10 34>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <34 11>;
        };

        f8 {
            bindings = <&kp F8>;
            key-positions = <34 12>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <34 13>;
        };

        f10 {
            bindings = <&kt F10>;
            key-positions = <34 14>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <23 34>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <34 24>;
        };

        num {
            bindings = <&tog 2>;
            key-positions = <37 17 16 18>;
        };

        m_k1 {
            bindings = <&m_bracket>;
            key-positions = <2 3 4>;
        };

        m_k2 {
            bindings = <&m_kako>;
            key-positions = <12 13 14>;
        };

        m_k3 {
            bindings = <&m_sbracket>;
            key-positions = <22 23 24>;
        };

        arrow {
            bindings = <&tog 3>;
            key-positions = <6 7 8 37>;
        };

        WIN {
            bindings = <&to 0>;
            key-positions = <1 7 25>;
        };

        MAC {
            bindings = <&to 1>;
            key-positions = <10 22 26>;
        };

        mac_lctl {
            bindings = <&kp LCTRL>;
            key-positions = <13 14>;
            layers = <1>;
        };

        mac_rctl {
            bindings = <&kp RCTRL>;
            key-positions = <15 16>;
            layers = <1>;
        };

        up {
            bindings = <&kp UP_ARROW>;
            key-positions = <6 8>;
        };

        dw {
            bindings = <&kp DOWN>;
            key-positions = <16 18>;
        };

        le {
            bindings = <&kp LEFT>;
            key-positions = <6 7>;
        };

        ri {
            bindings = <&kp RIGHT>;
            key-positions = <7 8>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        m_bracket: m_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LANG1>,
                <&macro_release>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET>,
                <&macro_release>,
                <&macro_tap>,
                <&kp BACKSLASH>,
                <&macro_release>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_BRACKET";
        };

        m_kako: m_kako {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LANGUAGE_2>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(N8)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(N9)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_KAKO";
        };

        m_sbracket: m_sbracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LANGUAGE_2>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(RIGHT_BRACKET)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LS(BACKSLASH)>,
                <&macro_release>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>;

            label = "M_SBRACKET";
        };

        bt0_win: bt0towin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&bt BT_SEL 0>,
                <&macro_release>,
                <&macro_tap>,
                <&to 0>,
                <&macro_release>;

            label = "BT0TOWIN";
        };

        bt1_mac: bt1_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&bt BT_SEL 1>,
                <&macro_release>,
                <&macro_tap>,
                <&to 1>,
                <&macro_release>;

            label = "BT1_MAC";
        };

        bt4_win: bt4_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&bt BT_SEL 4>,
                <&macro_release>,
                <&macro_tap>,
                <&to 0>,
                <&macro_release>;

            label = "BT4_WIN";
        };
    };

    behaviors {
        td_quot: td_quot {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOT";
            #binding-cells = <0>;
            bindings = <&lt 5 LS(NUMBER_2)>, <&kp RS(N7)>;

            tapping-term-ms = <200>;
        };

        td_coln: td_coln {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_COLN";
            #binding-cells = <0>;
            bindings = <&mt_tr190 LEFT_ALT SINGLE_QUOTE>, <&kp SEMI>;

            tapping-term-ms = <200>;
        };

        td_ej: td_ej {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_EJ";
            #binding-cells = <0>;
            bindings = <&mt_tr190 LSHFT LANGUAGE_2>, <&kp LANGUAGE_1>;

            tapping-term-ms = <190>;
        };

        td_num_comm: td_num_comm {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUM_COMM";
            #binding-cells = <0>;
            bindings = <&kp KP_DOT>, <&kp COMMA>;

            tapping-term-ms = <180>;
        };

        lt_tr190: lt_tr190 {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_TR190";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            flavor = "tap-preferred";
            quick-tap-ms = <190>;
        };

        mt_tr190: mt_tr190 {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_TR190";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            flavor = "hold-preferred";
            quick-tap-ms = <190>;
        };

        minus_ub: minus_ub {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_UB";
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        question: question {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION";
            bindings = <&kp LS(SLASH)>, <&kp SLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fnkey: fnkey {
            compatible = "zmk,behavior-mod-morph";
            label = "FNKEY";
            bindings = <&td_quot>, <&kp LS(LEFT_BRACKET)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        altkey: altkey {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTKEY";
            bindings = <&td_coln>, <&kp LS(INTERNATIONAL_3)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrlkey: ctrlkey {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRLKEY";
            bindings = <&mt_tr190 LCTRL LS(EQUAL)>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        r_sft_ej: r_sft_ej {
            compatible = "zmk,behavior-mod-morph";
            label = "R_SFT_EJ";
            bindings = <&mt LEFT_SHIFT LANG2>, <&kp LANG1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        l_l3_tab: l_l3_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "L_L3_TAB";
            bindings = <&lt 3 TAB>, <&kp LC(Z)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        u_sft_bs: u_sft_bs {
            compatible = "zmk,behavior-mod-morph";
            label = "U_SFT_BS";
            bindings = <&mt_tr190 RIGHT_SHIFT BACKSPACE>, <&kp RC(C)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        d_l3_henk: d_l3_henk {
            compatible = "zmk,behavior-mod-morph";
            label = "D_L3_HENK";
            bindings = <&lt 3 INT_HENKAN>, <&kp LC(V)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_ctrlkey: mac_ctrlkey {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_CTRLKEY";
            bindings = <&mt_tr190 LEFT_GUI LS(EQUAL)>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_d_l3_henk: mac_d_l3_henk {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_D_L3_HENK";
            bindings = <&lt 3 SPACE>, <&mo 2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_u_sft_bs: mac_u_sft_bs {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_U_SFT_BS";
            bindings = <&mt_tr190 RIGHT_SHIFT BACKSPACE>, <&kp RG(C)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_l_l3: mac_l_l3 {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_L_L3";
            bindings = <&mo 3>, <&kp RG(Z)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_r_sft_ej: mac_r_sft_ej {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_R_SFT_EJ";
            bindings = <&mt LEFT_SHIFT LANG2>, <&kp RG(LANG1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_fnkey: mac_fnkey {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_FNKEY";
            bindings = <&td_quot>, <&kp LS(GRAVE)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mac_altkey: mac_altkey {
            compatible = "zmk,behavior-mod-morph";
            label = "MAC_ALTKEY";
            bindings = <&td_coln>, <&kp LS(INTERNATIONAL_3)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mins_l2: mins_l2 {
            compatible = "zmk,behavior-mod-morph";
            label = "MINS_L2";
            bindings = <&lt 2 SPACE>, <&kp LC(X)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
soft_off_hold: soft_off_hold {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            hold-time-ms = <3000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q     &kp W    &kp E   &kp R          &kp T                               &kp Y       &kp U          &kp I      &kp O                       &kp P
&kp A     &kp S    &kp D   &lt_tr190 4 F  &kp G                               &kp H       &lt_tr190 4 J  &kp K      &kp L                       &minus_ub
&kp X     &kp Z    &kp C   &lt_tr190 5 V  &kp B                               &kp N       &lt_tr190 5 M  &kp COMMA  &mt_tr190 RIGHT_ALT PERIOD  &question
&ctrlkey  &altkey  &fnkey  &l_l3_tab      &mins_l2  &r_sft_ej      &u_sft_bs  &d_l3_henk                                                        &mt_tr190 RCTRL ENTER
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        MAC {
            bindings = <
&kp Q         &kp W        &kp E       &kp R          &kp T                                          &kp Y           &kp U          &kp I      &kp O                       &kp P
&kp A         &kp S        &kp D       &kp F          &kp G                                          &kp H           &lt_tr190 4 J  &kp K      &kp L                       &minus_ub
&kp X         &kp Z        &kp C       &lt_tr190 4 V  &kp B                                          &kp N           &lt_tr190 5 M  &kp COMMA  &mt_tr190 RIGHT_ALT PERIOD  &question
&mac_ctrlkey  &mac_altkey  &mac_fnkey  &mac_l_l3      &lt 2 SPACE  &mac_r_sft_ej      &mac_u_sft_bs  &mac_d_l3_henk                                                        &mt_tr190 RIGHT_GUI ENTER
            >;
        };

        NUM {
            bindings = <
&none  &none  &kp INTERNATIONAL_3  &kp LS(NUMBER_6)  &kp PERCENT                                 &kp KP_SLASH     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS
&none  &none  &kp DOLLAR           &kp LS(NUMBER_1)  &kp LEFT_BRACKET                            &kp KP_ASTERISK  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS
&none  &none  &none                &kp HASH          &kp LS(INT1)                                &kp KP_N0        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &td_num_comm
&none  &none  &none                &none             &none             &none      &kp BACKSPACE  &kp LS(MINUS)                                                       &kp ENTER
            >;
        };

        ARROW {
            bindings = <
&none  &none  &none  &none  &none                               &kp RC(F4)          &kp HOME        &kp UP_ARROW    &kp END          &kp PAGE_UP
&none  &none  &none  &none  &none                               &kp RA(LEFT_ARROW)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN
&none  &none  &none  &none  &none                               &kp RA(RIGHT)       &mo 5           &none           &none            &kp LC(LS(T))
&none  &none  &none  &none  &none  &none      &kp INT_MUHENKAN  &kp INT_HENKAN                                                       &to 0
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                        &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans                        &trans    &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans                        &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &mkp MB5  &mkp MB4                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans             &trans  &trans  &trans             &mo 6                                   &mo 6            &trans  &trans  &trans  &trans
&trans             &trans  &trans  &trans             &trans                                  &trans           &trans  &trans  &trans  &trans
&trans             &trans  &trans  &trans             &trans                                  &trans           &trans  &trans  &trans  &trans
&kp LA(SEMICOLON)  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP      &none  &kp PRINTSCREEN                          &trans
            >;
        };

        CONFIG {
            bindings = <
&soft_off_hold  &none  &sys_reset  &none  &ind_bat                    &ind_bat  &none  &sys_reset  &none  &none
&none  &none  &none       &none  &none                       &none     &none  &none       &none  &none
&none  &none  &none       &none  &none                       &none     &none  &none       &none  &none
&none  &none  &none       &none  &none     &none      &none  &none                               &none
            >;
        };
    };
};
